<%= text_f f, :hostname, :label => _("Hostname"), :required => true %>
<%= text_f f, :api_port, :label => _("API Port"), :required => true %>
<%= text_f f, :namespace, :label => _("Namespace"), :required => true %>
<%= password_f f, :token, :label => _("Token"), :required => true,
              :keep_value => true, :unset => unset_password?,
              :help_block => _("e.g. eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9..."),
              :help_inline => documentation_button('#4.1SettingComputeResourceTokenandX509CAvalues', type: 'plugin_manual', name: 'foreman_kubevirt', version: '0.x'),
              :id => "compute_resource_password"
%>

<%
  tls_options = [[_('Use System CA'), 'system'], [_('Use Custom CA'), 'custom'], [_('Disable TLS'), 'disable']]
  ca_cert_value = params.dig(:ca_cert).presence || f.object.ca_cert
  tls_selected = ca_cert_value.nil? ? 'disable' : ca_cert_value.empty? ? 'system' : 'custom'
%>

<div class="clearfix">
  <%= label_tag "verify_tls", _("TLS verification mode"), class: "col-md-2 control-label" %>
  <div class="col-md-4">
    <%= select_tag "verify_tls", options_for_select(tls_options, tls_selected), class: "form-control", onchange: "kubevirtVerifyTls()" %>
  </div>
</div>

<%= textarea_f f, :ca_cert,
                  :label => _("X509 Certification Authorities"),
                  :disabled => tls_selected == 'system' || tls_selected == 'disable',
                  :required => tls_selected == 'custom',
                  :value => ca_cert_value,
                  :placeholder => ''
%>

<div class="col-md-offset-2">
  <%= test_connection_button_f(f, f.object.connection_valid?) %>
</div>
