<%= text_f f, :hostname, :label => _("Hostname") %>
<%= text_f f, :api_port, :label => _("API Port"), :required => true %>
<%= text_f f, :namespace, :label => _("Namespace"), :required => true %>
<%= password_f f, :password, :label => _("Token"), :required => true,
              :keep_value => true, :unset => unset_password?,
              :help_block => _("e.g. eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9..."),
              :help_inline => documentation_button('5.2.10PasswordEncryption') %>

<%= textarea_f f, :ca_cert, :label => _("X509 Certification Authorities"),
  :placeholder => _("Optionally provide a CA, or a correctly ordered CA chain or a path to a file. If left blank - insecure.") %>

 <div class="col-md-offset-2">
   <%= test_connection_button_f(f, true) %>
 </div>
