<tr>
  <td><%= _("Server") %></td>
  <td><%= @compute_resource.server_address %></td>
</tr>

<tr>
  <td><%= _("Port") %></td>
  <td><%= @compute_resource.server_port %></td>
</tr>

<tr>
  <td><%= _("Namespace") %></td>
  <td><%= @compute_resource.user %></td>
</tr>
