<tr>
  <td><%= _("Hostname") %></td>
  <td><%= @compute_resource.hostname %></td>
</tr>

<tr>
  <td><%= _("API Port") %></td>
  <td><%= @compute_resource.api_port %></td>
</tr>

<tr>
  <td><%= _("Namespace") %></td>
  <td><%= @compute_resource.user %></td>
</tr>
